include README.md
include install.py
include install.sh
include install.ps1
include Dockerfile
include docker-compose.yml
include .dockerignore
recursive-include docs *.md *.yaml
recursive-include src/net_logger/static *.html *.css *.js *.png
include src/net_logger/openapi.yaml
